/* The Modal (background) */
/*styling main div */
#teacherModal {
  font-family: cursive;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 2em;
  top: 5em;
  height: 20%;
  width: 50%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #fefefe;
  padding: 2em;
  border: 0.2em solid rgba(29, 68, 28, 0.562);
}
  .popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%;
    height: 600px;
    overflow: hidden; /* Enable scroll if needed */
  }

 /*styling heading of the main div */
#modalHeading {
  color: green;
}

/* The Close X Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(69, 134, 60);
  text-decoration: none;
  cursor: pointer;
}

/*content*/
#Info {
  width: 18.2em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgba(82, 121, 77, 0.747);
  border-radius: 1em;
}
  
  /* input fields*/
  .inputs {
    padding: 0.2em;
    margin-top: 1em;
  }
  #inputName {
    margin-left: 4em;
  }
  #inputSurname {
    margin-left: 2.3em;
  }
  input {
    outline: none;
  }
  #modalButton {
    margin-top: 1.2em;
    margin-left: 15.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
.ganrigi{
    list-style: none;
}  
.sagnebi{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
  }



.animation{
    animation: animate 1s;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    100%{
        margin-left: -200px;
        opacity: 0;
    }
}
